<aside>
	<div class="container">
		<nav>

			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<!-- <h1><a  href="/index.html">{{ site.title }}</a></h1> -->


	<link rel="stylesheet" href="../css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<section class="top-nav">
		<div>
			Logo Here
		</div>
		<input id="menu-toggle" type="checkbox" />
		<label class='menu-button-container' for="menu-toggle">
			<div class='menu-button'></div>
		</label>
		<ul class="menu">
			<li>><a href="/contact">Contact</a></li>
			<li>><a href="/CV">CV</a></li>
			<li>><a href="/publications">Publications</a></li>
			<li>><a href="/about">About</a></li>

		</ul>
	</section>





	<!-- Navigation links (hidden by default) -->
	<div id="myLinks">
		<a href="/contact">Contact</a>
		<a href="/CV">CV</a>
		<a href="/publications">Publications</a>
		<a href="/about">About</a>
	</div>
	<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
	</div>

</header>