<!-- <aside>
	<div class="container">
		<nav>

			</li>
			</ul>
		</nav>
	</div>
</aside> -->

<header>
	<!-- <h1><a  href="/index.html">{{ site.title }}</a></h1> -->

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<section class="top-nav">
		<div>
			<h1><a href="/index.html">{{ site.title }}</a> </h1>
		</div>
		<!-- <input id="menu-toggle" type="checkbox" />
		<label class='menu-button-container' for="menu-toggle">
			<div class='menu-button'></div>
		</label> -->

		<ul class="menu">
			<a href="/contact">Contact</a>&nbsp;
			<a href="/CV">CV</a>&nbsp;
			<a href="/publications">Publications</a>&nbsp;
			<a href="/about">About</a>&nbsp;

		</ul>
		<hr>
	</section>

</header>