$content-width: 800px;
$main: #8597a5;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #52ab98;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #8597a5;
$light: #E7EDF4;
$header: #2b6777;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}